table {
  width: 100%;
  margin-bottom: 20px;
}

table caption {
  font-weight: bold;
  padding-bottom: 20px;
}
table.green caption {
  color: black;
}

table tr td {
  text-align: left;
  padding: 10px;
}
