.App {
    text-align: center;
  }
  
  .App-header {
    padding: 0 0 20px 0;
  }
  
  .App-header-logo {
    width: 150px;
    height: 150px;
    /*animation: App-header-logo-spin infinite 10s cubic-bezier(.50,0,.50,1);*/
  }
  
  /*@keyframes App-header-logo-spin {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
  }*/
  
  .App-header-title {
    font-size: 1.5em;
    margin-top: 0;
  }
  
  .App-header p {
    margin-bottom: 0;
  }
  
  .App-footer {
    padding: 20px;
  }
  
  .App-footer-links {
    padding: 0;
    text-align: center;
  }
  
  .App-footer-links li {
    margin: 0 10px;
    list-style-type: none;
    display: inline-block;
  }
  
  .notification-container .notification .notification-message .message {
    word-wrap: break-word;
  }
  